.card {
  margin-left: auto;
  margin-right: auto;
  min-height: 12rem;
  width: 16rem;
  height: auto;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.delete {
  display: none;
  float: right;
  margin-bottom: 3px;
}

.card:hover .delete {
  display: inline;
}

.card:hover {
  transform: scale(1.25);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-header {
  font-weight: bold;
  font-size: 20px;
}

.card-body {
  vertical-align: center;
  align-items: center;
  text-align: center;
}

.card-body > p {
  text-align: justify;
  text-justify: distribute;
}

.card-text {
  vertical-align: center;
  text-align: center;
  font-weight: 500;
}

@media only screen and (max-width: 500px) {
  .card {
    min-height: 0;
  }
}
