.edit-card-header {
  display: flex;
  padding-left: 15px;
  padding-top: 10px;
}

.edit-card-header > input {
  width: 200px;
  opacity: 0.4;
  border-radius: 8px;
  font-weight: bold;
  border: none;
}

 span {
  margin: 0;
  color: white;
  padding-top: 2px;
  padding-left: 18px;
  display: inline;
}

.delete-edit-card {
  padding-left: 8px;
  float: right;
}

.card-text-area {
  /* padding-left: 0.5rem; */
  width: 90%;
  min-height: 6.5rem;
  height: auto;
  opacity: 0.4;
  border-radius: 8px;
  font-weight: bold;
  padding-bottom: 5px;
  border: none;
}

.edit-card-body {
  padding-top: 10px;
  text-align: center;
}

.edit-card-body > button {
  text-align: center;
  background-color: white;
  color: blue;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  opacity: 0.8;
}
