.App {
  margin: 0;
}

.header {
  width: 100vw;
  display: flex;
  top: 0;
  background-color: white;
  background-blend-mode: color-burn;
  height: 60px;
}

.header-right > img {
  height: 60px;
}

.header-left {
  right: 0;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: right;
}

.header-left > h1 {
  padding-top: 7px;
  color: #3651bf;
  font-size: 20px;
}

.logout {
  padding: 0px 20px;
}

.logout > button {
  background-color: #3651bf;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  width: 80px;
  height: 40px;
}

.logout > button:hover {
  background-color: white;
  color: #3651bf;
}

.card-grid {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 36rem));
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

@media only screen and (max-width: 500px) {
  .card-grid {
    grid-template-columns: repeat(1, minmax(auto, 36rem));
  }
}

@media only screen and (min-width: 500px) and (max-width: 975px) {
  .card-grid {
    grid-template-columns: repeat(2, minmax(auto, 36rem));
  }
}

@media only screen and (min-width: 975px) and (max-width: 1325px) {
  .card-grid {
    grid-template-columns: repeat(3, minmax(auto, 36rem));
  }
}

@media only screen and (min-width: 1800px) {
  .card-grid {
    grid-template-columns: repeat(5, minmax(auto, 36rem));
  }
}
