.login {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: auto;
}

.login-image {
  margin-top: 40px;
}

.login-fields {
  display: flex;
  flex-direction: column;
}

.login-fields > input {
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
  height: 50px;
  width: 300px;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: -50px;
}

.login-buttons > h6 {
  margin-left: 65px;
}

.primary {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.primary > button {
  margin-top: 40px;
  width: 250px;
  font-weight: 800;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #3651bf;
  color: #eff2f5;
}

.login-buttons > button {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #3651bf;
  color: #eff2f5;
  font-weight: 800;
}

.login-buttons > button:hover {
  background-color: white;
  color: #3651bf;
}

.primary > button:hover {
  background-color: white;
  color: #3651bf;
}